AI News Daily Digest.json
{
  "name": "AI News Daily Digest",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "name": "Daily at 8:00 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [240, 304]
    },
    {
      "parameters": {
        "url": "https://feeds.feedburner.com/oreilly/radar/atom",
        "options": {}
      },
      "name": "Fetch AI News RSS",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [464, 304]
    },
    {
      "parameters": {
        "jsCode": "// Get all items from RSS feed\nconst items = $input.all();\n\n// Return only the first item (latest article)\nreturn [items[0]];"
      },
      "name": "Select Latest Article",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [688, 304]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"openrouter/free\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"You are a concise AI news assistant. Summarize this article in 5 bullet points, max 120 words, explain why it matters, and include the link.\\n\\nTitle: {{$json.title}}\\n\\nContent: {{$json.contentSnippet || $json.description}}\\n\\nLink: {{$json.link}}\"\n    }\n  ]\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "name": "Summarize with OpenRouter",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [912, 304]
    },
    {
      "parameters": {
        "sendTo": "YOUR_EMAIL@example.com",
        "subject": "={{ \"AI News Summary - \" + $(\"Select Latest Article\").item.json.title }}",
        "message": "={{ \"<h2>\" + $(\"Select Latest Article\").item.json.title + \"</h2><br><br>\" + $json.choices[0].message.content.replace(/\\n/g, \"<br>\") }}",
        "options": {
          "appendAttribution": false
        }
      },
      "name": "Send Summary Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [1136, 304]
    }
  ],
  "pinData": {},
  "connections": {
    "Daily at 8:00 AM": {
      "main": [[{ "node": "Fetch AI News RSS", "type": "main", "index": 0 }]]
    },
    "Fetch AI News RSS": {
      "main": [[{ "node": "Select Latest Article", "type": "main", "index": 0 }]]
    },
    "Select Latest Article": {
      "main": [[{ "node": "Summarize with OpenRouter", "type": "main", "index": 0 }]]
    },
    "Summarize with OpenRouter": {
      "main": [[{ "node": "Send Summary Email", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}
